@import './../../variables';



h1{
    font-family: 'Ubuntu-bold';
}

.area-container{
  height: auto;
  display: flex;
  overflow: hidden;
}


.desk-container-area{
  height: 100vh;
  width: 95vw;
}

.menu-class{
  height: 100vh;
  width: 20%;
}
