@import './../../variables';



h1{
    font-family: 'Ubuntu-bold';
}

.area-container{
  height: auto;
  display: flex;
}


.desk-container-area{
  // min-width: 80vh;
  // max-width: 100vh;
  height: 100%;
}

.menu-class{
  height: 100vh;
  width: 20%;
}
