.status-card-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 300px;
  max-width: 400;
  min-height: 300px;
  max-height: 850px;
  background-color: #EFEFEF;
  border-radius: 15px;
  margin-left: 10px;
  margin-top: 50px;
}

.status-card-container:hover{
  box-shadow: 0px 2px 2px 0px #a9a9a9;
}

.tasks-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  overflow: hidden;
  min-height: 50px;
  max-height: 550px;
  min-width: 250px;
  max-width: 350px;
  margin-top: 65px;
}

.add-task-link{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 35px;
  background-color: #FFFFFF;
  border-radius: 5px;
  margin-top: 36px;
}

.add-task-link:hover{
  background-color: #E6E6E6;
}

h2{
  font-family: Ubuntu-regular;
  font-size: 22pt;
  margin-left: 20px;
}

.name-container{
  display: flex;
  justify-content: left;
  width: 100%;
}

