$main_background: #DEDEDE;
$main_vidgets: #FFFFFF;
$black_text: black;
$gray_text: #BDBF96;

body{
    background-color: $main_background;
}

body, html {
  height: 100%;
  width: 100%;
  margin: 0 !important;
}

@font-face {
    font-family: "Ubuntu-bold";
    src: url('./assets/Ubuntu-Bold.ttf');
}

@font-face {
    font-family: "Ubuntu-bolditalic";
    src: url('./assets/Ubuntu-BoldItalic.ttf');
}

@font-face {
    font-family: "Ubuntu-italic";
    src: url('./assets/Ubuntu-Italic.ttf');
}

@font-face {
    font-family: "Ubuntu-light";
    src: url('./assets/Ubuntu-Light.ttf');
}

@font-face {
    font-family: "Ubuntu-lightitalic";
    src: url('./assets/Ubuntu-LightItalic.ttf');
}

@font-face {
    font-family: "Ubuntu-medium";
    src: url('./assets/Ubuntu-Medium.ttf');
}

@font-face {
    font-family: "Ubuntu-mediumitalic";
    src: url('./assets/Ubuntu-MediumItalic.ttf');
}

@font-face {
    font-family: "Ubuntu-regular";
    src: url('./assets/Ubuntu-Regular.ttf');
}

